/* font */
@font-face {
  font-family: 'yg-jalnan';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'yg-jalnan', sans-serif;
  text-align: center;
  font-size: 50px; 
  margin-bottom: 80px;
  color: #bfa2ff;
}

h3 {
  font-family: 'SCoreDream', sans-serif;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  color: #73b2ec;
}

body {
  font-family: 'SCoreDream', sans-serif;
  background-color: #ffffff;
  color: #333333;
}



/* Navigation style */
.navbar {
  height: 80px;
}

.nav-link {
  color: #333333;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-link:hover{
  color: #73b2ec !important;
  text-decoration: underline;
  font-weight: 700;
}

.nav-link.active {
  color: #f2b5d4 !important;
  text-decoration: underline;
  font-weight: 700;
}

.navbar-nav {
  gap: 24px;
  padding-block: 10px; /* shorthand for top & bottom padding */
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropdown-menu {
  transition: all 0.2s ease-in-out;
}



/* section style */
    main {
      max-width: 900px;
      margin: 80px auto 80px;
      padding: 0 20px;
      text-align: center;
}

    section.about-section {
      text-align: center;
      line-height: 1.8;
      font-size: 16px;
      margin-top: 150px;
      margin-bottom: 70px;
    }

    section.about-section p {
      font-size: 16px;
      line-height: 1.8;
      margin-bottom: 20px;
    }



/* category tabs style */
    .category-tabs {
      display: flex;
      justify-content: center;
      gap: 20px;
      margin-bottom: 40px;
    }

    .category-tabs a {
      text-decoration: none;
      color: #333333;
      font-weight: 500;
      padding: 8px 16px;
      border: 1px solid transparent;
      border-radius: 10px;
      transition: all 0.2s;
    }

    .category-tabs a:hover {
      border-color:#73b2ec;
      background-color: #f9f9f9;
    }

    .category-tabs a.active {
      color: #73b2ec;
      font-weight: 700;
      border-color: #73b2ec;
      background-color: #f4faff;
    }



/* footer style */
footer {
  margin-top: 300px;
  text-align: center;
  padding: 20px 0px;
  font-size: 14px;
  color: #666666;
  border-top: 1px solid #e5e5e5;
  background-color: #F5F5F5;
}



/* top button style */
#top-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
  border: none;

  font-size: 20px; 
  width: 60px;
  height: 60px;

  border-radius: 50%; 
  line-height: 60px;
  text-align: center;
  padding: 0;

  background-color: #333333;
  text-color: #ffffff;
}

#top-button:hover {
  background-color: #7cbbe9;
}
