/* font */
@font-face {
  font-family: 'yg-jalnan';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'yg-jalnan', sans-serif;
}

body {
  font-family: 'SCoreDream', sans-serif;
  background-color: #ffffff;
  color: #333333;
}



/* Navigation style */
.navbar {
  height: 80px;
}

.nav-link {
  color: #333333;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-link:hover{
  color: #73b2ec !important;
  text-decoration: underline;
  font-weight: 700;
}

.nav-link.active {
  color: #f2b5d4 !important;
  text-decoration: underline;
  font-weight: 700;
}

.navbar-nav {
  gap: 24px;
  padding-block: 10px; /* shorthand for top & bottom padding */
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropdown-menu {
  transition: all 0.2s ease-in-out;
}



/* header style */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/main.jpg');
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  color: white;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}




/* card section style */
main.container {
  margin-top: 80px;
}

.main-card {
  border: 2px solid #f2b5d4;
  border-radius: 16px;
  box-shadow: 0px 2px 10px rgba(242, 181, 212, 0.25);
  text-align: center;
  padding: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 180px;
}

.main-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 20px rgba(242, 181, 212, 0.5);
}

.main-card h5 {
  color: #73b2ec;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}

.main-card p {
  font-size: 16px;
  color: #333333;
  margin: 0px;
  line-height: 24px;
}



/* footer style */
footer {
  margin-top: 120px;
  text-align: center;
  padding: 20px 0px;
  font-size: 14px;
  color: #666666;
  border-top: 1px solid #e5e5e5;
  background-color: #F5F5F5;
}



/* top button style */
#top-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
  border: none;

  font-size: 20px; 
  width: 60px;
  height: 60px;

  border-radius: 50%; 
  line-height: 60px;
  text-align: center;
  padding: 0;

  background-color: #333333;
  text-color: #ffffff;
}

#top-button:hover {
  background-color: #7cbbe9;
}
